body{
    background-color: #d169dd;
}
.name {
    font-size: 50px;
    color: white;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}
.container {
    padding: 30px;
}